.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}

#file {
    display: none;
}

label {
    color: white;
    height: 60px;
    width: 250px;
    background-color: #f5a509;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    height: 540px;
    width: 960px;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 960px;
    max-height: 540px;
}